{% extends '::base.html.twig' %}

{% block _body %}  <h2>Medicamentos</h2> {% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Principio Activo</th>
                <th>Tipo de Medicamento</th>
                <th>Stock</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('medicamentos_show', { 'id': entity.id }) }}">{{ loop.index  }}</a></td>
                <td>{{ entity.principioActivo | title }}</td>
                <td>{{ entity.tipoMedicamento | title }}</td>
                <td>{{ entity.stock }}</td>
                <td>{{ entity.disponible }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('medicamentos_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('medicamentos_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('medicamentos_new') }}">
                Crear nueva entidad
            </a>
        </li>
    </ul>
    {% endblock %}