{% extends '::base.html.twig' %}

 {% block stylesheets %}
    {{parent()}}
    <!-- Bootstrap datepicker core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/enfermeria/css/datepicker.css')}}"
{% endblock %}

{% block _body %}  <h2>Medicamentos</h2> {% endblock %}
{% block body %}
   
    <h2>Registro</h2>
    <br>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}

 <div class="form-group">       
        {{ form_label(form.principioActivo) }}
        {{ form_errors(form.principioActivo) }}
            <div class="col-lg-4">
                {{ form_widget(form.principioActivo) }}
            </div>
    </div>
   
   
    <div class="form-group">       
        {{ form_label(form.stock) }}
        {{ form_errors(form.stock) }}
            <div class="col-lg-4">
                {{ form_widget(form.stock) }}
            </div>
    </div>
   
   
    <div class="form-group">       
        {{ form_label(form.disponible) }}
        {{ form_errors(form.disponible) }}
            <div class="col-lg-4">
                {{ form_widget(form.disponible) }}
            </div>
    </div>
      
    
     <div class="form-group">       
        {{ form_label(form.tipoMedicamento) }}
        {{ form_errors(form.tipoMedicamento) }}
            <div class="col-lg-4">
                {{ form_widget(form.tipoMedicamento) }}
            </div>
    </div>
  
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-4">
              <button type="submit" class="btn btn-primary">Registar</button>
            </div>
      </div>

    {{ form_end(form) }}    

        <ul class="table">
    <li>
        <a href="{{ path('medicamentos') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}

    {% block javascripts %}


 
{% endblock %}
